<%= render 'user/sessions/header' %>
<h2>ペット</h2>
<%= form_with model:@pet, url: user_pets_path,method: :post do |f| %>

  <h4>名前</h4>
  <%= f.text_field :name %>
  
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <%= f.submit '登録' %>

<% end %>