<%= render 'user/sessions/header' %>
<div class="container">
  <div class="row">
    <h2>マイページ</h2>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h4>名前</h4>
      <%= @user.name %>
      <h4>メールアドレス</h4>
      <%= @user.email %>
    </div>
    <div class="col-md-5">
      <h4>ペットの名前</h4>
      <%= @pet.name %><br>
        <% if @pet.image.attached? %>
          <%= image_tag @pet.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <%= link_to "編集",edit_user_pet_path(@pet.id)%>
  </div>
</div>
