<%= render 'user/sessions/header' %>
<h2>全問正解です！おめでとう！</h2>

<h4>ペットの名前</h4>
<%= @pet.name %><br>
  <% if @pet.image.attached? %>
    <%= image_tag @pet.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<h4>Lv.<%= @pet.level %></h4>


<%= @pet.exp %>