<%= render 'admin/sessions/header' %>
<div class="container">
  <div class="row">
    <h2><%= @user.name %>さんの会員詳細</h2>
  </div>
  <div class="row">
    <div class="col-md-5">

      <table class="table">
        <tbody>
          <tr>
            <th><h4>名前</h4></th>
          </tr>
          <tr>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th><h4>メールアドレス</h4></th>
          </tr>
          <tr>
            <th><%= @user.email %></th>
          </tr>
          <tr>
            <th><h4>更新日時</h4></th>
          </tr>
          <tr>
            <th><%= @user.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h4>ペットの名前</h4>
        <%= @pet.name %><br>
          <% if @pet.image.attached? %>
            <%= image_tag @pet.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
      <h1>Lv.<%= @pet.level %></h1>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" style="width:<%=((@pet.exp - @explevel[@pet.level])*100)  / (((@explevel[@pet.level+1]) - @explevel[@pet.level]))  %>% " role="progressbar" aria-valuenowaria-valuemin="0" aria-valuemax="100">
          <%= @pet.exp %>
        </div>
    </div>
</div>