<%= render 'admin/sessions/header' %>
<h2><%= @user.name %>さんの会員詳細</h2>
<h4>名前</h4>
<%= @user.name %>
<h4>メールアドレス</h4>
<%= @user.email %>
    
    
<h4>ペットの名前</h4>
  <%= @pet.name %><br>
    <% if @pet.image.attached? %>
      <%= image_tag @pet.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
