<%= render 'admin/sessions/header' %>
<h4>題名</h4>
<p><%= @question.title %></p>

<% @question.question_contents.each_with_index do |content, index|%>
<h4>問題<%=index+1%></h4>
<p><%= content.content %></p>

<h4>答え<%=index+1%></h4>
<p><%= content.answer %></p>
<%end%>

<%= link_to "編集",edit_admin_question_path(@question.id) %>
<%= link_to "削除",admin_question_path(@question.id),method: :delete %>
